.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #7480FF;
    font-size: 12px;
    border: 1px solid #7480FF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  